{% extends "base.html" %}

{% block titulo %}Editar Livro{% endblock %}

{% block conteudo %}

    <h2 class="mb-4">Editar Novo Livro</h2>

    {% if mensagem %}
        <div class="alert alert-success">
            {{ mensagem }}
        </div>
    {% endif %}

    {% if erro %}
        <div class="alert alert-danger">
            {{ erro }}
        </div>
    {% endif %}

    <form action="/biblioteca/update/{{ livro.isbn }}" method="POST">

        <div class="mb-3">
            <label>ISBN</label>
            <input value="{{ livro.isbn }}" readonly type="text" name="isbn" class="form-control">
        </div>

        <div class="mb-3">
            <label>Título</label>
            <input value="{{ livro.titulo }}" type="text" name="titulo" class="form-control" placeholder="Ex: Dom Casmurro" required>
        </div>

        <div class="mb-3">
            <label>Autor</label>
            <input value="{{ livro.autor }}" type="text" name="autor" class="form-control" placeholder="Ex: Machado de Assis" required>
        </div>

        <div class="mb-3">
            <label>Gênero</label>
            <input value="{{ livro.genero }}" type="text" name="genero" class="form-control" placeholder="Ex: Romance" required>
        </div>

        <div class="mb-3">
            <label>Ano de Publicação</label>
            <input value="{{ livro.ano_publicacao }}" type="number" name="ano_publicacao" class="form-control" placeholder="Ex: 1899" required>
        </div>

        <div class="mb-3">
            <label>Editora</label>
            <input value="{{ livro.editora }}" type="text" name="editora" class="form-control" placeholder="Ex: Ática" required>
        </div>

        <div class="mb-3">
            <label>Páginas</label>
            <input value="{{ livro.paginas }}" type="number" name="paginas" class="form-control" placeholder="Ex: 256" required>
        </div>

        <div class="mb-3">
            <label>Localização</label>
            <input value="{{ livro.localizacao }}" type="text" name="localizacao" class="form-control" placeholder="Ex: Estante A1" required>
        </div>

        <button type="submit" class="btn btn-success">Salvar Alterações</button>
        <a href="/" class="btn btn-secondary">Voltar</a>

    </form>

{% endblock %}